#add_video_block {
    border: 1px solid #ccc;
    padding: 5px;
}

#add_video_block table tr td {
    font-size: 18px;
    color: #fff;
    padding-bottom: 10px;
}

#videos_block {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 5px;   
}

#vp_users {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 20px auto;
    width: 100%;
}

#vp_users th, #vp_users td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: 18px;
    color: #fff;
}

#vp_users th {
    font-weight: bold;
}

#adm_users {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 20px auto;
    width: 100%;
}

#adm_users th, #adm_users td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    
}

#adm_users th {
    font-size: 18px;
    font-weight: bold;
}

.question-1 .field {
    height: 35px;
}

#adm_users td, #adm_users td a {
    font-size: 12px;
}

#sws_pages {
    text-align: center;
}

#sws_pages a {
    font-size: 12px;
}

.admin_note {
    font-size: 12px;
    color: #F00;
}

.sws_img_block {
margin: 5px;
border-radius: 12px;
padding: 9px;
border: 1px solid #ccc;
float: left;
height: 276px;
box-shadow: 5px 4px 24px lightgrey;
}


.img_block {
    width: 316px;
    height: 139px;
    overflow: hidden;
    margin: 0 0 15px 0;
}

.chk_block {
    clear: both;
    text-align: center;
    margin-bottom: 5px;
}

.del_block {
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;
    overflow:auto;
}

.edit-user {
    margin: 20px auto;
    width: 100%;
}

.edit-user td {
    font-size: 18px;
    color: #fff;
    padding: 5px 0
}

.postcodes_block {
    overflow: scroll;
    width: 500px;
    height: 600px;
}

.quotation-user {
    margin: 20px auto 10px auto;
    width: 100%;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

.quotation-user th {
    font-weight: bold;
    font-size: 14px;
    color: #F65D20;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 5px;
}

.quotation-user td {
    font-size: 12px;
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.quotation-user td a {
    font-size: 12px !important;
}

.user-details {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user-details li {
    padding: 10px;
}

.user-details li strong {
    display: inline-block;
    width: 300px;
}

#modal_block_admin {
    display: none;
    position: fixed;
    top: 200px;
    z-index: 200;
    left: 0;
    width: 100%;
}

#modal_block_hidden2 {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    background: #fff;
}

#modal_block2 {
    display: none;
    position: fixed;
    z-index: 2;
    top: 50px;
    left: 0;
    width: 100%;
}

.pages-ul {
    margin: 10px 0 0 30px;
}

ul.buff{ margin:0px; margin-bottom: 10px; overflow: auto; padding:0px;}
ul.buff li{ float:left; list-style:none; width:auto; font-size:18px; font-weight:bold; color:#fff; padding:10px 10px 0 0;}

/* ---------------------------------- */


.w70 {
    width: 70px;
}

.sort_vid {
    width: 50px;
    float: left;
}

.del_vid {
    float: right;
}
.edit-user-fancy {
    margin: 20px auto;
    width: 100%;
}

.edit-user-fancy td {
    font-size: 18px;
    padding: 5px 0
}
#add-entry-fancy {
    clear:both;
    width: 800px;
    overflow-x: hidden;
}
#title-entry {
    width: 400px; float: left;
}
#option_entry {
    width: 300px; float: left;
}
#left-and-entry {
    width: 700px; float: left; margin-top: 10px;
}
#right-add-entry {
    width: 50px;float: left; 
}
#red {
    float: left; width: 40px; height: 40px; background-color: red;
    -moz-box-shadow: inset 0 0 2px 2px darkred;
    -webkit-box-shadow: inset 0 0 2px 2px darkred;
    box-shadow: inset 0 0 2px 2px darkred;
    border: 1px solid darkred;
    cursor: pointer;
}
#yellow {
    float: left; width: 40px; height: 40px; background-color: gold;
    -moz-box-shadow: inset 0 0 2px 2px goldenrod;
    -webkit-box-shadow: inset 0 0 2px 2px goldenrod;
    box-shadow: inset 0 0 2px 2px goldenrod;
    border: 1px solid goldenrod;
    margin-top: 5px;
    cursor: pointer;
}
#green {
    float: left; width: 40px; height: 40px; background-color: green;
    -moz-box-shadow: inset 0 0 2px 2px darkgreen;
    -webkit-box-shadow: inset 0 0 2px 2px darkgreen;
    box-shadow: inset 0 0 2px 2px darkgreen;
    border: 1px solid darkgreen;
    margin-top: 5px;
    cursor: pointer;
}
#darkblue {
    float: left; width: 40px; height: 40px; background-color: darkblue;
    -moz-box-shadow: inset 0 0 1px 1px #03013a;
    -webkit-box-shadow: inset 0 0 1px 1px #03013a;
    box-shadow: inset 0 0 1px 1px #03013a;
    border: 1px solid #03013a;
    margin-top: 5px;
    cursor: pointer;
}
#violette {
    float: left; width: 40px; height: 40px; background-color: darkmagenta;
    -moz-box-shadow: inset 0 0 1px 1px #25011d;
    -webkit-box-shadow: inset 0 0 1px 1px #25011d;
    box-shadow: inset 0 0 1px 1px #25011d;
    border: 1px solid #25011d;
    margin-top: 5px;
    cursor: pointer;
}
#orange {
    float: left; width: 40px; height: 40px; background-color: chocolate;
    -moz-box-shadow: inset 0 0 1px 1px #7a2902;
    -webkit-box-shadow: inset 0 0 1px 1px #7a2902;
    box-shadow: inset 0 0 1px 1px #7a2902;
    border: 1px solid #7a2902;
    margin-top: 5px;
    cursor: pointer;
}
#black {
    float: left; width: 40px; height: 40px; background-color: black;
    -moz-box-shadow: inset 0 0 1px 1px orange;
    -webkit-box-shadow: inset 0 0 1px 1px orange;
    box-shadow: inset 0 0 1px 1px orange;
    margin-top: 5px;
    cursor: pointer;
}
.main-form-entry {
    margin-top: 10px;
    padding-top: 8px;
}
.textarea-entry {
    width: 678px; height: 150px; font-size: 15px !important;
}
.yesno_entry {
    width: 190px; float: left;
}
.reccuring-entrys {
    width: 500px; float: left;
}
.date-entrys {
    width: 232px; float: left;
}
.start_date {
    width: 90px;
}
.start_time {
    width: 90px;
}
.start_hours {
    width: 50px;
}
.floatleft {
    float: left
}
.starttimehours {
    margin-left: 31px;
}
.endtimehours {
    margin-left: 5px;
}
.main-date-entrys {
    padding-top: 12px;
}
.submit-entry {
    margin-top: 10px;
    text-align: center;
}
.calendar-enquiry {
    margin-top: 50px;
    margin-bottom: 50px;
}
.fc-border-separate thead {
    background-color: #FEC098;
}
.fc-border-separate thead th {
    color: black !important;
    height: 70px;
    font-size: 25px;
}
.red {
    color: red !important;
}
.yellow {
    color: gold !important;
}
.green {
    color: green;
}
.darkblue {
    color: darkblue;
}
.violette {
    color: darkmagenta;
}
.orange {
    color: chocolate;
}
.black {
    color: black;
}
.todo-table .black {    
    width: auto !important;
    padding: 0px !important;
    height: auto !important;
}
.custom-field {
    padding-top: 8px;
    font-size: 11px;
    color: #FF6819;
}
.users-submit {
    margin-left: 50px;
}
.users-wrapper {
    width: 250px !important; 
    margin-left: 14px;
}
.users-fancy {
    overflow: visible !important;
}
#user-info {
    width: 100%; text-align: right; padding-bottom: 12px; padding-right: 12px;
}
.promo-wrapper {width: 100%; height: auto; }
.col-1, .col-2 {height: auto; float: left;}
.promo-button-add {margin-top:-2px; margin-left: 21px; padding: 0 20px 0 20px !important;}
.col-1 {width: 59%;}
.col-2 {width: 36%;margin-top:-6px;}
.col-2 {padding-left: 26px;}
.promo-wrapper .users-table table tr:first-child td:first-child {width: 16px !important;}
.promo-wrapper .percent {font-weight: bold;
                         font-size: 32px;
                         margin-left: 5px;}
.percent-wrapper {float: left; width: 20px; padding-top: 3px;}
.success-mess {
    border: 2px solid orange;
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom:13px;
}
.success-text {
    padding-top: 14px;
    padding-left: 9px;
    float: left;
    color: black;
}
.success-img, .error-img {
    float: left;
}
.error-img {
    margin-top:12px;
    margin-left: 13px;
}
.page-new-add {
    float: right;
}
.error-mess {
    padding-top: 14px;
    padding-left: 9px;
    float: left;
    color: red !important;
}
.publish-ico {
    cursor: pointer;
}
.orange-text {    
    font-weight: bold;
}
.small-submit {
    background: url(../images/attach-photo-bg.jpg) left top repeat-x;
    padding: 0 6px 0 4px;
    font-size: 18px;
    color: #000;
    line-height: 2px;
    height: 23px;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
}
.slider-items {
    float: left;
    margin-left:10px;
}
.slider-items input {
    width: 280px;
}
.slider-image {
    float: left
}
.success-message {
    background: white;
    color: #56acab;
    padding: 3px 3px 3px 3px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.getuslug {padding: 0px 4px 0px 4px !important;}
.rel-page {float:left;margin-left:35px;margin-top:7px;}
.floatleft {float:left;}
.clearboth {clear:both; height: 0px;}            
.parent-menu {margin-left:20px;}
.fileinput-button {
    order: 1px solid white;
    padding: 5px;
    background: lightgrey;
    color: black;
    border-radius: 6px;
}
.size13 {
    font-size: 16px !important;
    padding-right: 5px;
}
#adm_users {
    box-shadow: 3px 3px 18px;
}