.title-pages {cursor: pointer; font-size: 16px; color: #006b8e; margin-left:19px;}
.title-pages:hover {color: black;}
.second-child {margin-left: 40px;}
.fourth {margin-left: 40px;}
#orange-white:hover {color: black !important;cursor: pointer;}
#orange-white {font-size: 16px;}