.enquiries-table {
	margin:0px;padding:0px;
	width:100%;
    overflow: auto;
	border:none;
    -moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
    -moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
    -moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.enquiries-table table{
	width:100%;
    height: 45px !important;
	margin:0px;padding:0px;
    border-collapse: collapse;
}
.enquiries-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.enquiries-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.enquiries-table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.enquiries-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

.enquiries-table tr:nth-child(odd){ background-color:#ffffff; }
.enquiries-table tr:nth-child(even)    { background-color:#ffffff; }
.enquiries-table td{
	vertical-align:middle;
	border:3px solid #f5801f;
	border-width:0px 2px 2px 0px;
	text-align:left;
	padding:5px;
	font-size:18px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.enquiries-table tr:last-child td{
	border-width:0px 2px 0px 0px;
}.enquiries-table tr td:last-child{
    text-align: center !important;
	border-width:0px 0px 2px 0px;
   
}.enquiries-table tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.enquiries-table tr:first-child td{
	/*background:-o-linear-gradient(bottom, #fec098 5%, #fec098 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fec098), color-stop(1, #fec098) );
	background:-moz-linear-gradient( center top, #fec098 5%, #fec098 100% );*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec098", endColorstr="#fec098");	background: -o-linear-gradient(top,#fec098,fec098);
	/*background-color:#fec098;*/   
	border:0px solid #f5801f;
	text-align:left;
	border-width:0px 0px 2px 2px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

 .enquiries-table tr:hover td{
	background:-o-linear-gradient(bottom, #fec098 5%, #fec098 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fec098), color-stop(1, #fec098) );
	background:-moz-linear-gradient( center top, #fec098 5%, #fec098 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec098", endColorstr="#fec098");	background: -o-linear-gradient(top,#fec098,fec098);
	/*background-color:#fec098;*/
    cursor: pointer;
}
.enquiries-table tr:hover td #done{ background-color: white !important;}
.enquiries-table tr:first-child td:first-child{
	border-width:0px 0px 2px 0px;
}

.enquiries-table tr:first-child td:last-child{
	border-width:0px 0px 2px 2px;
}
.enquiries-table img {
    cursor: pointer;
}
.enquiries-table table thead td {background-color: #fec098 !important;}
#done {
    background-color: #fec098 !important;
}
.enquiries-table table tbody td {font-weight: normal !important;}
#pagination {height: 40px; text-align: center;}
#items_pagination {margin: 0 auto;}
#items_pagination font {text-decoration: underline; cursor: pointer;color: #ff8000;} 



.todo-table {
	margin:0px;padding:0px;
	width:100%;
    overflow: auto;
	border:none;
    -moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
    -moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
    -moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.todo-table table{
	width:100%;
    height: 45px !important;
	margin:0px;padding:0px;
    border-collapse: collapse;
}
.todo-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

}
.todo-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.todo-table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;    
    text-align: center !important;
}
.todo-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.todo-table tr:hover td{

}

.todo-table tr:nth-child(even)    { background-color:#ffffff; }
.todo-table td{
	vertical-align:middle;
	border:3px solid #f5801f;
	border-width:0px 2px 2px 0px;
	text-align:left;
	padding:5px;
	font-size:18px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.todo-table tr:last-child td{
	border-width:0px 2px 0px 0px;
}.todo-table tr td:last-child{
    text-align: center;
	border-width:0px 0px 2px 0px;
}.todo-table tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.todo-table tr:first-child td{

	border:0px solid #f5801f;
	text-align:left;
	border-width:0px 0px 2px 2px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

.todo-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #fec098 5%, #fec098 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fec098), color-stop(1, #fec098) );
	background:-moz-linear-gradient( center top, #fec098 5%, #fec098 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec098", endColorstr="#fec098");	background: -o-linear-gradient(top,#fec098,fec098);
	/*background-color:#fec098;*/
    cursor: pointer;
}

.todo-table tr:first-child td:first-child{
	border-width:0px 0px 2px 0px;
}

.todo-table tr:first-child td:last-child{
	border-width:0px 0px 2px 2px;
}
.lightgrey td{
    background-color: lightgrey !important;
}
.todo-table img {
    cursor: pointer;
}
.todo-table tr:hover td #done_todo{ background-color: white !important;}
.todo-table table thead td {background-color: #fec098 !important;}
.todo-table table tbody td {font-weight: normal !important; background-color: white;}
#pagination {height: 40px; text-align: center;}
#items_pagination {margin: 0 auto;}
#items_pagination font {text-decoration: underline; cursor: pointer;color: #ff8000;} 
 .todo-table tr:hover td{
	background:-o-linear-gradient(bottom, #fec098 5%, #fec098 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fec098), color-stop(1, #fec098) );
	background:-moz-linear-gradient( center top, #fec098 5%, #fec098 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec098", endColorstr="#fec098");	background: -o-linear-gradient(top,#fec098,fec098);
	/*background-color:#fec098;*/
    cursor: pointer;
}



.users-table {
	margin:0px;padding:0px;
	width:100%;
    overflow: auto;
	border:none;
    -moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
    -moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
    -moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.users-table table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
    border-collapse: collapse;
}
.users-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.users-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.users-table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.users-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.users-table tr:hover td{

}
.users-table tr:nth-child(odd){ background-color:#ffffff; }
.users-table tr:nth-child(even)    { background-color:#ffffff; }
.users-table td{
	vertical-align:middle;
	border:3px solid #f5801f;
	border-width:0px 2px 2px 0px;
	text-align:left;
	padding:5px;
	font-size:18px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.users-table tr:last-child td{
	border-width:0px 2px 0px 0px;
}.users-table tr td:last-child{
    text-align: center !important;
	border-width:0px 0px 2px 0px;
    background-color: white !important;
}.users-table tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.users-table tr:first-child td{
	background:-o-linear-gradient(bottom, #fec098 5%, #fec098 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fec098), color-stop(1, #fec098) );
	background:-moz-linear-gradient( center top, #fec098 5%, #fec098 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec098", endColorstr="#fec098");	background: -o-linear-gradient(top,#fec098,fec098);
	background-color:#fec098;
	border:0px solid #f5801f;
	text-align:left;
	border-width:0px 0px 2px 2px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

.users-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #fec098 5%, #fec098 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fec098), color-stop(1, #fec098) );
	background:-moz-linear-gradient( center top, #fec098 5%, #fec098 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec098", endColorstr="#fec098");	background: -o-linear-gradient(top,#fec098,fec098);
	background-color:#fec098;
}

.users-table tr:first-child td:first-child{
	border-width:0px 0px 2px 0px;
}

.users-table tr:first-child td:last-child{
	border-width:0px 0px 2px 2px;
}
.users-table img {
    cursor: pointer;
}
.od_pagination {
    float: left;
    width: 15px;
}