/*body, p {line-height:1.5 !important;}*/
.product-name h2 {font-size:14px !important;}

#inside_container h1  {font-size:15px !important; color:#333 !important;}

.found-us 
{margin-top: 25px!important;
text-align:center!important;
margin-left: 0px;!important}

#mainmenu-item a {
font-size: 14px;
}

.slider-security {font-style: normal !important;}
.slider-text-item {font-style: normal !important;}

.small-green-button {background: url(../images/small-green-button.png) 1px no-repeat;}

.tut{margin-top:1px}
.slider-item-1 {margin-left: 5px !important;
font-size: 12px;}
.slider-item-2 {margin-left: 0px !important; 
font-size: 12px;}
.slider-item-3 {margin-left: -5px !important;
 font-size: 12px !important;}
.slider-item-4 {margin-left: -10px !important; 
font-size: 12px !important;}

.get-order-buttons {border-left: solid 1px #c0c0c0;
width:209px;}


.question-image {
background: url(../images/yellow-star.png) no-repeat 0px 0px;
float: left;
width: 40px;
height: 40px;
}
.header-phone {margin-left:20px; margin-top:-10px; margin-bottom:-5px;}
.header-phone div {margin-left:-20px; margin-top:0px; margin-bottom:5px;}



.more-know-button {padding-bottom:16px !important;}


a {
color: #00678b;
text-decoration: underline;
outline: none;
font-size: 14px;
}

.map-contacts {
margin-top: 12px!important;
}
.reload-button {height: 45px;}
.block-services{width:10px;}

.bg-header-grey {box-shadow: 1px 1px 2px #4a4949;}


.razdelitel {
float: left;
width: 2px;
height: 160px;
background: url(../images/razdelitel.png) no-repeat;
margin-top:25px;
}

.border-services {background:none;}

.logo-header {
margin-top: 6px;
height: 95px;
}

.input-name, .input-email {
clear: both;
height: 45px;}

.ff3 {margin-right:19px; width:65px;}

#footer-name, #order-name {
margin-top: 11x;
background: url(../images/blue-input.png) no-repeat 4px 0px;
border: none;
margin-left: 19px;
width: 191px;
height: 30px;
padding-left: 15px;
padding-right: 10px;
outline: none;
}

#footer-email, #order-phone {
margin-top: 11px;
background: url(../images/blue-input.png) no-repeat 4px 0px;
border: none;
margin-left: 19px;
width: 191px;
height: 30px;
padding-left: 15px;
padding-right: 10px;}



.contact-with-me {
font-size: 18px;
color: #292929;
margin-left: 44px!important;
margin-top: 25px!important;}

.footer-form {
margin-top: 5px;
}
.ff2 {width: 240px;}

#footer-question {width: 223px;}


.we-with-you {
font-size: 18px;
color: #292929;
margin-left: 26px;
margin-top: 25px;
}
.social-icons {
margin-top: 15px;
}

.QapTcha {
float: left;
margin-top: -35px;
width: 212px;
margin-left: 14px;}
#makeorder-form {
line-height:auto !important;
}